* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Delius", cursive;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(140, 90, 43, 0.8); 
    padding: 15px 40px;
}

.name-website {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0,0, 0.5);
}

.navbar nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.navbar nav ul li a:hover {
    color: #f3d5b5;
}

.hero {
    height: 100vh;
   background-image: url(../assets/images/beaker.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 650px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 38px;
    color: #3e2723;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 15px;
    color: #5d4037;
    line-height: 1.6;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 10px 24px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    transition: 0.3s;
}

.btn-light {
    background-color: #ffffff;
    color: #3e2723;
    border: 1px solid #ccc;
}

.btn-dark {
    background-color: #b06d36;
    color: #ffffff;
}

.btn-dark:hover {
    background-color: #8c5a2b;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.deatils-section {
    padding: 80px 10%;
    background-color: #ffffff;
}

.deatils-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.deatils-image {
    width: 50%;
}

.deatils-image img {
    width: 100%;
    max-width: 350px;
    height: 450px;
    border-radius: 8px; 
    box-shadow: 0 8px 20px rgba(140,90,43, 0.25);
}

.deatils-content {
    width: 50%;
}

.deatils-content h2 {
    font-size: 32px;
    color: #3e2723;
    margin-bottom: 20px;
}

.deatils-content p {
    font-size: 15px;
    color: #666666;
    line-height: 1.7;
    margin-bottom: 25px;
}

.deatils-list {
    list-style: none; 
}

.deatils-list li {
    font-size: 14px;
    color: #444444;
    padding: 10px 0;
    border-bottom: 1px dashed #e0e0e0; 
}
/* ////////////////////////////////////////////////////////////////////////////////////// */
.location-section {
    padding: 80px 10%;
    background-color: #f4f4f4;
}

.location-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.location-content {
    flex: 1;
}

.location-content h2 {
    font-size: 32px;
    color: #3e2723;
    margin-bottom: 25px;
}

.location-content p {
    font-size: 15px;
    color: #666666;
    line-height: 1.7;
    margin-bottom: 20px;
}

.location-image {
    flex: 1;
}

.location-image {
    width: 100%;
    max-width: 600px;
    height: 450px;
    background-image: url('../assets/images/BAKARY.jpg');
    background-size: cover;
    background-position: center; 
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(140, 90, 43, 0.4);
}
/* ////////////////////////////////////////////////////////////////////////////////// */
.offers-section {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.offers-items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.offer-items{
    flex: 1;
    text-align: center;
}

.offer-items .img-item {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    box-shadow: 0 8px 20px rgba(140, 90, 43, 0.4);
}

.offer-items.superior-breads .img-item {
    background-image: url('../assets/images/breads.jpg');
}

.offer-items.bagels .img-item{
    background-image: url('../assets/images/bagels.jpg');
}

.offer-items.cookies .img-item {
    background-image: url('../assets/images/cookies.jpg');
}

.offer-items h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #333333;
    font-weight: 600;
}

.offer-items p {
    color: #777777;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}
/* //////////////////////////////////////////////////////////////////////////////// */